@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@500;600&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}

$white: rgba(255, 255, 255, 1);
$blue: rgba(55, 114, 255, 1);
$black: rgba(0, 0, 0, 1);
$green: rgba(69, 178, 107, 1);
$lightblue: rgba(55, 114, 255, 0.2);
$bgdescr: rgba(136, 136, 136, 1);


%fDMSANS700 {
  font-family: 'DMSans',sans-serif;
  font-style: normal;
  font-weight: 700;
}


%fDMSANS500 {
  font-family: 'DMSans',sans-serif;
  font-style: normal;
  font-weight: 500;
}

%fDMSANS400 {
  font-family: 'DMSans',sans-serif;
  font-style: normal;
  font-weight: 400;
}


%fPoppins600 {
  font-family: 'Poppins',sans-serif;
  font-style: normal;
  font-weight: 600;
}

%fPoppins500 {
  font-family: 'Poppins',sans-serif;
  font-style: normal;
  font-weight: 500;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $white;
  font-size: 1.8rem;
  font-style: normal;
  color: #000000;
}

img {
  max-width: 100%;
}

.list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1940px;
  padding: 0 10px;
  margin: 0 auto;
}

.wrapper-header {
max-width: 1920px;
margin: 0 auto;
background-color: $white;
height: 109px;
}

.wrapper-main {
max-width: 1920px;
margin: 0 auto;
background-color: $white;
height: 710px;
}

.wrapper-frashcollection {
max-width: 1920px;
margin: 0 auto;
background-color: $white;
height: 400px;
}

.wrapper-seller {
max-width: 1920px;
margin: 0 auto;
background-color: $white;
height: 612px;
}

.wrapper-explore {
max-width: 1920px;
margin: 0 auto;
background-color: $white;
height: 743px;
}

.wrapper-marketplace {
max-width: 1920px;
padding: 0 10px;
margin: 0 auto;
background-color: rgba(246, 247, 248, 1);
height: 672px;
}

.popular-wrapper {
max-width: 1920px;
margin: 0 auto;
background-color: $white;
height: 1417px;
}

.collections-wrapper {
max-width: 1920px;
margin: 0 auto;
background-color: $white;
height: 747px;
}

.start-wrapper {
max-width: 1920px;
padding: 0 10px;
margin: 0 auto;
background-color: rgba(246, 247, 248, 1);
height: 500px;
}

.footer-wrapper {
max-width: 1920px;
margin: 0 auto;
background-color: $white;
height: 466px;
}

.pointer {
  width: 50px;
  height: 50px;
  border: 1.5px solid rgba(204, 204, 204, 1);
  border-radius: 100%;
  background-color: #FFF;
}

option {
  font-size: 1.6rem;
}


.btn {
width: 110px;
height: 40px;
border-radius: 7px;
background-color: $blue;
color: $white;
border: none;
display: flex;
}
.nav {
  display: flex;
  justify-content: space-between;
  height: 110px;
  margin-bottom: 40px;
  max-width: 1170px;
  margin: 0 auto;
  &-btn {
  @extend %fDMSANS500;
  font-size: 14px;
  line-height: 18px;
  background-image: url(../image/nav/login-icon.svg);
  background-repeat: no-repeat;
  align-items: center;
  align-self: center;
  background-position-y: 50%;
  background-position-x: 22%;
  padding: 11px 25px 11px 50px;
  }
  &-logo {
  display: flex;
  align-items: center;
  margin-right: 110px;
  &-text {
  @extend %fDMSANS700;
  font-size: 30px;
  line-height: 39px;
  color: $black;
  }
  }
  &-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 110px;
  }
  &-item {
  &:not(:last-child) {
  margin-right: 30px;
  }
  }
  &-link {
  @extend %fDMSANS500;
  font-size: 14px;
  line-height: 18px;
  color: $bgdescr;
  text-decoration: none;
  }
  &-search {
  display: flex;
  align-items: center;
  &-input {
  border: 1.5px solid $bgdescr;
  border-radius: 7px;
  margin-right: 20px;
  padding: 13px 36px 13px 13px;
  background-image: url(/image/nav/search-icon.svg);
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: 86%;
  }
}
}

.main {
display: grid;
grid-template-columns: repeat(2, 1fr);
justify-content: center;
gap: 20px;
max-width: 1170px;
margin: 0 auto;
height: 710px;
&-text {
justify-self: center;
align-self: center;
}
&-descr {
@extend %fPoppins600;
font-size: 14px;
line-height: 21px;
color: $bgdescr;
}
&-title {
@extend %fPoppins600;
font-size: 55px;
line-height: 83px;
color: $black;
margin: 0;
margin-bottom: 18px;
}
&-btn {
@extend %fDMSANS700;
font-size: 16px;
line-height: 21px;
width: 150px;
height: 50px;
padding: 15px 65px 14px 26px;
background-image: url(../image/main/btn-arrow.svg);
background-repeat: no-repeat;
background-position-y: 50%;
background-position-x: 85.5%;
margin-bottom: 57px;
}
&-image {
display: flex;
justify-content: right;
&-item {
border-radius: 20px;
position: absolute;
}
&-bg1 {
position: relative;
top: -25%;
left: -2%;
}
&-bg2 {
position: relative;
top: 45%;
left: 15%;
}
&-bgplay {
position: relative;
left: 107.5%;
bottom: 222%;
}
}
&-statistics {
display: flex;
justify-content: flex-start;
&-item {
@extend %fPoppins600;
font-size: 16px;
color: $bgdescr;
text-align: center;
& span {
@extend %fDMSANS700;
font-size: 50px;
line-height: 95px;
color: $black;
}
&:not(:last-child) {
margin-right: 65px;
}
}
}
}

.frashcollection {
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 23px;
max-width: 1170px;
margin: 0 auto;
height: 400px;
align-content: center;
&-title {
@extend %fPoppins600;
color: $black;
font-size: 30px;
line-height: 45px;
margin: 0;
}
&-btn {
@extend %fDMSANS700;
width: 122px;
height: 40px;
font-size: 16px;
line-height: 21px;
padding: 10px 22px 9px 22px;
margin: 0;
margin-top: 18px;
white-space: nowrap;
letter-spacing: 0.6px;
}

}

.seller {
  max-width: 1330px;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 612px;
  &-row1 {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 100px;
  }
  &-row2 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
  justify-content: center;
  align-content: center;
  }
  &-item {
  height: 262px;
  width: 270px;
  background-color: rgba(243, 244, 245, 1);
  border-radius: 15px;
  display: grid;
  align-content: center;
  justify-items: center;
  position: relative;
  }
  &-image { 
  width: 82px;
  height: 80px;
  border-radius: 100%;
  position: absolute;
  background-position: center;
  background-size: cover;
  top: -20%;
  left: 35%;
  border: 2px solid $blue;
  background-color: $blue;
  &-photo {
  display: block;
  width: 80px;
  height: 77px;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  }
  }
  &-name {
  @extend %fDMSANS700;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 15px;
  }
  &-icon {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 16px;
  &-item {
  background-color: rgba(55, 114, 255, 0.2);
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  &:first-child {
  background-color: $blue;
  width: 60px;
  height: 30px;
  border-radius: 26px;
  color: #fff;
  @extend %fDMSANS500;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  }
  }
  }
  &-etherium {
  @extend %fDMSANS700;
  color: $black;
  font-size: 13px;
  line-height: 17px;
  margin-bottom: 16px;
  }
  &-select {
  &-bestseller {
  @extend %fDMSANS700;
  font-size: 40px;
  line-height: 52px;
  color: $black;
  border: none;
  appearance: none;
  background-repeat: no-repeat;
  background-image: url(../image/seller/BestSellerArrow.svg);
  background-position-x: 95%;
  background-position-y: 50%;
  }
  &-today {
  display: block;
  @extend %fDMSANS700;
  font-size: 14px;
  line-height: 18px;
  color: $black;
  padding: 16px 195px 16px 15px;
  border: 1.5px solid #CCCCCC;
  border-radius: 7px;
  appearance: none;
  &-btn {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: $blue;
  background-image: url(../image/seller/TodayArrow.svg);
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  left: 95.5%;
  align-self: center;
  }
  }
  }
  &-pointer-left {
  align-self: center;
  background-image: url(../image/seller/GrayArrowLeft.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition-duration: .2s;
  &:hover {
  background-image: url(../image/seller/BlueArrowLeft\ .svg);
  background-repeat: no-repeat;
  background-position: center;
  }
  }
  &-pointer-right {
  align-self: center;
  background-image: url(../image/seller/GraArrowRight\ .svg);
  background-repeat: no-repeat;
  background-position: center;
  transition-duration: .2s;
  &:hover {
  background-image: url(../image/seller/BlueArrowRight.svg);
  background-repeat: no-repeat;
  background-position: center;
  }
  }
  &-hr {
  height: 2px;
  width: 230px;
  background-color: rgba(221, 221, 221, 1);
  margin-bottom: 20px;
  }
  &-btn {
  width: 80px;
  height: 40px;
  background-color: rgba(151, 87, 215, 1);
  color: $white;
  @extend %fDMSANS700;
  font-size: 16px;
  line-height: 21px;
  border-radius: 7px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  }
}


.explore {
  max-width: 1170px;
  margin: 0 auto;
  height: 743px;
  display: grid;
  justify-content: center;
  align-content: center;
  &-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 57px;
  }
  &-title {
  color: $black;
  align-self: center;
  @extend %fDMSANS700;
  font-size: 40px;
  line-height: 52px;
  margin: 0;
  }
  &-pointer-left {
  align-self: center;
  background-image: url(../image/explore/GrayArrowLeft.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition-duration: .2s;
  margin-right: 10px;
  &:hover {
  background-image: url(../image/explore/WhiteArrowLeft.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: $blue;
  }
  }
  &-pointer-right {
  align-self: center;
  background-image: url(../image/explore/GrayArrowRight\ .svg);
  background-repeat: no-repeat;
  background-position: center;
  transition-duration: .2s;
  &:hover {
  background-image: url(../image/explore/WhiteArrowRight\ .svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: $blue;
  }
  }
}

.gallery {
max-width: 1170px;
margin: 0 auto;
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 30px;
align-content: center;
justify-items: center;
margin-bottom: 50px;
&-column {
position: relative;
&-icon {
width: 30px;
height: 30px;
background-color: $white;
border-radius: 100%;
background-image: url(../image/gallery/heart.svg);
background-repeat: no-repeat;
background-position: center;
position: absolute;
top: 4%;
left: 83%;
&:hover {
background-image: url(../image/gallery/heartred.svg);
background-repeat: no-repeat;
background-position: center;
border: 1px solid red;
transition-duration: .2s;
}
}
&-btn {
width: 140px;
@extend %fDMSANS700;
font-size: 14px;
line-height: 18px;
padding: 11px 43px 11px 19px;
position: absolute;
top: 55%;
left: 25%;
background-image: url(../image/gallery/iconbtn.svg);
background-repeat: no-repeat;
background-position-x: 80%;
background-position-y: 50%;
}
&-image {
display: block;
border-radius: 15px;
margin-bottom: 16px;
}
}
}

.gallery-row {
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 15px;
&-descr {
color: $black;
@extend %fPoppins500;
font-size: 16px;
line-height: 24px;
}
&-grade {
display:inline-block;
width: 60px;
height: 25px;
border: 1.5px solid $green;
border-radius: 5px;
padding: 6px 8px 5px 5px;
@extend %fDMSANS700;
font-size: 11px;
line-height: 14px;
color: $green;
}
&-photo {
display: flex;
align-items: center;
justify-content: center;
& span {
margin-left: 10px;
}
&-item {
border-radius: 100%;
&:not(:first-child) {
margin-left: -7px
}
}
}
&-text {
display: inline-block;
@extend %fDMSANS400;
font-size: 13px;
line-height: 17px;
color: rgba(102, 102, 102, 1);
}
&-highest {
@extend %fDMSANS400;
color: #9E9E9E;
font-size: 11px;
line-height: 14px;
margin-left: 9px;
& span {
@extend %fDMSANS700;
font-size: 11px;
line-height: 14px;
color: $black;
}
}
&-btn {
@extend %fDMSANS500;
font-size: 11px;
line-height: 14px;
width: 60px;
height: 25px;
border-radius: 5px;
background-color:rgba(55, 114, 255, 0.2);
border: none;
margin-left: 79px;
}
}

.marketplace {
max-width: 1170px;
height: 672px;
margin: 0 auto;
position: relative;
&-header {
display: flex;
justify-content: space-between;
align-items: center;
padding-top: 100px;
}
&-title {
@extend %fDMSANS700;
font-size: 40px;
line-height: 52px;
color: $black;
margin: 0;
}
&-btn {
width: 250px;
height: 50px;
@extend %fDMSANS700;
font-size: 14px;
line-height: 18px;
border: 1.5px solid  rgba(204, 204, 204, 1);
border-radius: 7px;
padding: 16px 66px 16px 12px;
}
&-pointer-right {
max-width: 35px;
height: 35px;
align-self: center;
background-image: url(../image/marketplace/WhiteArrowRight\ .svg);
background-repeat: no-repeat;
background-position: center;
position: absolute;
background-color: $blue;
top: 16%;
left: 96.5%;
}
&-about {
background-color: rgba(255, 255, 255, 1);
border-radius: 20px;
margin-top: 60px;
height: 362px;

&-title {
display: inline-block;
margin-top: 54px;
@extend %fDMSANS700;
font-size: 25px;
line-height: 33px;
color: $black;
}
&-descr {
@extend %fDMSANS400;
font-size: 16px;
line-height: 24px;
color:  rgba(136, 136, 136, 1);
}
}
}

.popular {
max-width: 1170px;
margin: 0 auto;
height: 1417px;
&-title {
margin: 0;
margin-top: 88px;
margin-bottom: 55px;
@extend  %fDMSANS700;
font-size: 40px;
line-height: 52px;
}
&-btnrow {
display: flex;
justify-content: center;
align-items: center;
gap: 300px;
margin-bottom: 40px;
&-right {
display: flex;
gap: 20px;
}
}
&-btn {
width: 70px;
height: 30px;
@extend %fDMSANS500;
color: rgba(136, 136, 136, 1);
background-color: $white;
border-radius: 5px;
font-size: 14px;
line-height: 18px;
border: 1px solid rgba(204, 204, 204, 1);
&:hover {
background-color: $blue;
color: $white;
border: 1px solid $blue;
transition-duration: .2s;
}
&-allitem {
width: 80px;
}
&-art {
width: 50px;
}
&-clebrities {
width: 90px;
}
&:not(:last-child) {
margin-right: 10px;
}
}
&-newestbtn {
width: 140px;
height: 50px;
@extend %fDMSANS700;
color: $white;
font-size: 16px;
line-height: 21px;
border-radius: 7px;
background-color: rgba(151, 87, 215, 1);
border: none;
justify-content: center;
align-items: center;
& span {
margin-left: 14px;
}
}
&-filterbtn {
width: 120px;
height: 50px;
@extend %fDMSANS700;
font-size: 16px;
line-height: 21px;
color: $white;
border-radius: 7px;
border: none;
background-color: $blue;
justify-content: center;
align-items: center;
& span {
margin-left: 15px;
}
}
&-loadmorebtn {
width: 140px;
height: 50px;
@extend %fDMSANS700;
font-size: 16px;
line-height: 21px;
padding: 15px 18px 14px 40px;
margin-top: 50px;
margin: 0 auto;
justify-content: center;
align-items: center;
background-image: url(/image/popular/loadmore-icon-btn.svg);
background-repeat: no-repeat;
background-position-x: 17%;
background-position-y: 50%;
}
}

.collections {
max-width: 1170px;
margin: 0 auto;
height: 747px;
&-title {
@extend %fDMSANS700;
font-size: 40px;
line-height: 52px;
color: $black;
display: flex;
padding-top: 89px;
margin-bottom: 45px;
margin-top: 0;
}
&-columnwrapper {
display: flex;
position: relative;
align-items: center;
justify-items: center;
align-content: center;
justify-content: center;
}
&-column {
display: flex;
column-gap: 9px;
& img {
display: block;
border-radius: 15px;
}
&-right {
&:not(:last-child) {
margin-right: 40px;
}
& img {
&:not(:last-child) {
margin-bottom: 10px;
}
}
}
}
&-item01 {
margin-bottom: 10px;
}
&-subtitle {
@extend %fPoppins600;
font-size: 25px;
color: black;
line-height:  37,5px;

}
&-text {
display: flex;
align-items: center;
justify-items: center;
}
&-icon {
border-radius: 100%;
margin-right: 10px;
}
&-descr {
@extend %fDMSANS500;
color: #888888;
line-height: 21px;
font-size: 16px;
& span {
@extend %fDMSANS700;
color: $black;
font-size: 16px;
}
}
&-number1 {
top: 65.5%;
left: 24.5%;
}
&-number2 {
top: 65.5%;
left: 58%;
}
&-number3 {
top: 65.5%;
left: 91.5%;
}
}

.number {
position: absolute;
color: $white;
@extend %fDMSANS700;
font-size: 20px;
line-height: 26px;
display: block;
}

.start {
max-width: 1170px;
margin: 0 auto;
height: 500px;
}

.footer {
max-width: 1170px;
margin: 0 auto;
height: 466px;
}