@font-face {
  font-family: 'cyberpunk';
  src: url(/fonts/Audiowide-Regular.woff),
  url(/fonts/Audiowide-Regular.woff2);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'genshin';
  src: url(/fonts/VesperLibre-Regular.woff),
  url(/fonts/VesperLibre-Regular.woff2);
  font-style: normal;
  font-display: swap;
}