/* стили элементов, блоков, которые повторяются на разных страницах */

body { 
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 14px;
  overflow: auto;
  color: #333;
  background-color: #111;
  position: relative;
  line-height: 1.5;
  letter-spacing: 1px;
}

.swiper {
  max-width: 1400px;
  max-height: 900px;
  text-align: center;
}

.swiper-slide {
  display: grid;
  text-align: center;
  justify-content: center;
  justify-items: center;
  max-height: 900px;
  gap: 20px;
}

.swiper-slide__descr {
  max-width: 600px;
  text-align: center;
  margin-bottom: 15px;
}


.swiperTitle {
  min-height: 100px;
  margin-bottom: 10px;
  font-size: 30px;
  text-shadow: 1px 1px 10px greenyellow;
}

.swiperDescr {
  margin-top: 25px;
  font-size: 20px;
  text-shadow: 1px 1px 10px greenyellow;
}


.swipper-wrapp {
  position: relative;
}

.swiper-descr__github {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background: url(/images/github.png);
  background-repeat: no-repeat;
}

.swiper-button-next, .swiper-button-prev {
  top: 45% !important;
  background: #000;
  text-shadow: 1px 1px 10px greenyellow;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.canvas {
  width: 100%;
  display: block;
  position: absolute;
  pointer-events: none;
  top: 0;
  bottom: 0;
}

.bg-video {
  -o-object-fit: cover;
  object-fit: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; 
}

.hero {
  padding: 0 0 20px 0;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.main-content__container {
  padding: 20px;
  z-index: 20;
}

.main__content {
  opacity: 1;
  border-radius: 25px;
  backdrop-filter: blur(4px);
  box-shadow: inset 0 0 0 4000px rgba(255, 255, 255, 0.3); 
}

.header {
      max-width: 1406px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-evenly;
  font-size: 25px;
  margin-bottom: 50px;
  padding: 10px;
  border-radius: 15px;
  background: #77A1D3; 
  background: -webkit-linear-gradient(to right, #E684AE, #79CBCA, #77A1D3);  
  background: linear-gradient(to right, #E684AE, #79CBCA, #77A1D3);
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.header__buttons {
  display: flex;
  gap: 10px;
  border: none;
}

.header__link  {
  display: inline-block;
  text-decoration: none;
}

.header__link ::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width .3s;
}

.header__link :hover::after {
  width: 100%;
}



.button {
  padding: 0;
  font-size: 25px;
  border: none;
  background: transparent;
  font-family: 'cyberpunk', sans-serif;
}

.light {
  padding: 0 15px 0 0;
  border-right: 1px solid #fff;
  color: #fff;
}

.about {
  display: grid;
  grid-template-columns:  30% 70%;
}

.about-photo__image {
  border-radius: 50%;
  transform: rotate(-20deg);
}

.about__photo {
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 0 0 0 10px;
}

.about-photo__descr {
  max-width: 235px;
  margin-top: 10px;
}

.about__text {
  margin: 10px 0 0 50px;
}

.about__title {
  font-size: 20px;
  margin-bottom: 20px;
}

.about__descr {
  font-size: 18px;
}

.about__descr ul {
  list-style-type: disc;
}

.about__descr li {
  margin-bottom: 10px;
}

.about-cv__item {
  width: 150px;
  padding: 10px;
  border: 1px solid #f23;
}

.about-cv__buttons {
  display: flex;
  gap: 40px;
  grid-column-start: 2;
  padding: 0 0 20px 20px;
}

.preview-block__btn {
  max-width: 320px;
}

.custom-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 58px;
    padding: 5px;
    border: none;
    border-radius: 6px;
    position: relative;
    font-size: 15px;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    background: #fff;
    background: #77A1D3; 
    background: -webkit-linear-gradient(to right, #E684AE, #79CBCA, #77A1D3); 
    background: linear-gradient(to right, #E684AE, #79CBCA, #77A1D3);
    -webkit-box-shadow: 0px 9px 16px 0px rgba(250, 73, 35, 0.25);
    box-shadow: 0px 9px 16px 0px rgba(250, 73, 35, 0.25);
    -webkit-transition: ease 0.3s;
    transition: ease 0.3s;
}

.custom-btn:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fa4923;
    opacity: 0;
    z-index: 1;
    -webkit-transition: ease 0.3s;
    transition: ease 0.3s;
}

.custom-btn:after {
    content: "";
    display: block;
    width: 15px;
    height: 300px;
    margin-left: 60px;
    background: #fff;
    position: absolute;
    left: -40px;
    top: -150px;
    z-index: 1;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-animation-name: slideme;
    animation-name: slideme;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes slideme { 0% { left: -30px; margin-left: 0px; }
  30% { left: 110%; margin-left: 80px; }
  100% { left: 110%; margin-left: 80px; } };

  .contacts-text {
    text-align: center;
    font-size: 32px;
    text-shadow: 1px 1px 10px greenyellow;
    margin-bottom: 20px;
  }

  .contacts-social {
    text-align: center;
    font-size: 28px;
    text-shadow: 1px 1px 10px greenyellow;
  }

  address {
    display: grid;
    justify-content: center;
    font-size: 26px;
    margin-top: 25px;
    gap: 20px;
    text-shadow: 1px 1px 10px #fff;
  }

  .contacts-social__gmail::before {
    display: flex;
    float: left;
    margin-right: 5px;
    content: url(/images/gmail.png);
  }

  .contacts-social__phone::before {
    display: flex;
    float: left;
    margin-right: 5px;
    content: url(/images/telephone-call.png);
  }

  .contacts__city::before {
    float: left;
    margin-right: 5px;
    content: url(/images/address.png);
  }


.contacts__city {
  text-decoration: none;
}

.contacts__city::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width .3s;
}

.contacts__city:hover::after {
  width: 100%;
}

.contacts-social__gmail {
  text-decoration: none;
}

.contacts-social__gmail::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width .3s;
}

.contacts-social__gmail:hover::after {
  width: 100%;
}

.contacts-social__phone {
  text-decoration: none;
}

.contacts-social__phone::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width .3s;
}

.contacts-social__phone:hover::after {
  width: 100%;
}

.contacts__social {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}


.contacts-social-item__in {
  width: 64px;
  height: 64px;
  background-image:url(/images/linkedin.png);
  background-repeat: no-repeat;
}

.contacts-social-item__inst {
  width: 64px;
  height: 64px;
  background-image:url(/images/inst.png);
  background-repeat: no-repeat;
}

.contacts-social-item__git {
  width: 64px;
  height: 64px;
  background-image:url(/images/github-social.png);
  background-repeat: no-repeat;
}

.contacts-social-item__fb {
  width: 64px;
  height: 64px;
  background-image:url(/images/fb.png);
  background-repeat: no-repeat;
}

