@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;500;600&display=swap');
:root {
  --baseFontSize: 16px;
  --baseLineHeight: 1.5;
  --baseFont: "Helvetica Neue",
  "Arial",
  -apple-system,
  BlinkMacSystemFont,
  sans-serif;
  --bebasFont: "Bebas Neue",
  "Helvetica Neue",
  "Arial",
  -apple-system,
  BlinkMacSystemFont,
  sans-serif;
  
  --color-dark: #171717;
  --color-gray: #ddd;
  --color-gray2: #aaa;
}

body[data-theme='dark'] {
  color: hsl(0, 0%, 100%);
  background-color: hsl(207, 26%, 17%);
  text-shadow: rgba(245, 245, 245, 0.2) 0 0 8px;
  font-family: 'cyberpunk', sans-serif;
}
body[data-theme='light'] {
  color: hsl(200, 15%, 8%);
  background-color: #94c5f8;
  text-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-family: 'cyberpunk', sans-serif;
}